body{
    background-color: rgb(89, 89, 155);
}
 header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      background: #9a80ac; /* purple for empowerment */
      color: white;
    }
.logo{
    height: 180px;
    align-items:start;
}
.dropdown a {
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      color: #333;
    }
     .dropdown {
      display: none;
      position: absolute;
      top: 70px;
      right: 16px;
      background: rgb(144, 144, 177);
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      border-radius: 8px;
      overflow: hidden;
    }
     .menu-btn {
      /* padding: 33px 33px; */
      font-size: 50px;
      cursor: pointer;
      background: none;
      border: none;
      color: white;
    }
    .aa{
    font-style: italic;
    text-align: center;
    font-size:large;
    }
   .button1{
    font-size: x-large;
    font-style: italic;
    padding: 25px 90px; 
    border-radius: 8px;
    background-color: rgb(182, 182, 236);
   }
   /* new */
     .form-box {
      background: #a158d5;
      padding: 30px 850px 300px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      width: 300px;
      text-align: center;
    }

    .form-box h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form-box input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #e1d2d2;
      border-radius: 6px;
    }

    .form-box button {
      width: 100%;
      padding: 10px;
      border: none;
      background: #007bff;
      color: white;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
    }
    .form-box button:hover {
      background: #0056b3;
    }
    .spc{
      padding: 380px;
      /* height: 200px; */
    }
    .imgb{
    height: 330px;
    }
    .submit{
      padding: 20px 201px;
      border: none;
      background-color: #007bff;
      border-radius: 20px;
     /* width:40px;
     height: 20px; */
    }
    .submit2{
      padding: 20px 201px;
      border: none;
      background-color: #007bff;
      border-radius: 20px;
     /* width:40px;
     height: 20px; */
    }
    .sign{
      /* padding: 330px 330px ; */
      height:550px;
      width:600px;
      border: #333;
      background-color: #d4aaf2;
      border-radius: 60px;
      font-size: x-large;
      font-style: italic;
      text-align: left;
       padding: 20px; 
    }
    .form{
        padding: 10px;
      }
    .inp{
      height:35px;
      border-radius: 6px;
      border: none;
      text-align: center;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 8px;
    }
    .sound{
      background: none;
      border: none;
    }
    .emergency{
      padding:30px ;
      width: 350px;
      border-radius: 10px;
    background-color: rgb(228, 60, 60);
    font-size: x-large;
    }
    .emerbtn{
     text-decoration: none;
    }
    .help{
      padding:30px ;
      width: 350px;
      border-radius: 10px;
    background-color: rgb(221, 200, 82);
    font-size: x-large;
    }